
<style>

 .search-btn{
background-color: red;
color: white;
border-radius: 25px;
padding: 0 1rem 0 1rem;
 }

 .search-btn:hover{
background-color: red;
color: white;
 }

 .btn-search i{
  display: inline;
  margin-right: 0.5rem;
 }

.search-inp{
  border-radius: 25px;
  padding: 0.5rem 3.5rem 0.5rem 3rem;
background-color:rgb(255, 255, 255);

}


</style>


<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top glass">
    <!-- (in code line no 1 this  code = [bg-body-light] helps to light or whitist the bg color ) -->
    <!-- (in code line no 1 this  code = [ navbar-expand-md] helps to maintain the expandablity of navbar in medium range also  ) -->


  <div class="container-fluid">
    <a class="navbar-brand" href="/listings"><i class="fa-solid fa-compass"></i></a>
    <button class="navbar-toggler" 
    type="button" 
    data-bs-toggle="collapse" 
    data-bs-target="#navbarNavAltMarkup" 
    
    >
    <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <!-- link for home  route -->
        <!-- <a class="nav-link"  href="/">Home</a> -->

        <!-- link to see all Listings -->
        <a class="nav-link" href="/Listings"><b>Explore</b></a>

      </div>
      <!------------ navbar search --------------------------->

      <div class="navbar-nav  ms-auto" >

        <!-- search Ui only -->
<!--  
        <form class="d-flex" role="search">
      <input 
      class="form-control me-2 search-inp" 
      type="search"
       placeholder="Search-destination" 
       aria-label="Search"/>
      <button 
      class="btn search-btn " 
      type="submit">
       <i class="fa-solid fa-magnifying-glass-location"></i>Search
      </button>
    </form> -->


    <!-- search Ui with Functionalities -->

    <form class="d-flex" role="search" action="/listings" method="GET">
  <input
    class="form-control me-2 search-inp"
    type="search"
    placeholder="Search-destination"
    aria-label="Search"
    name="q"
  />
  <button class="btn search-btn" type="submit">
    <i class="fa-solid fa-magnifying-glass-location"></i>Search
  </button>
</form>


      </div>

      <!------------ showing signup , login & logout in navbar --------------------------->
      <div class="navbar-nav  ms-auto">

         <!-- link for add listings -->
        <a class="nav-link gold" href="/listings/new">Add New List</a>

        <% if(!currUser){ %>
        <a class="nav-link"  href="/signup"><b>Sign_up</b></a>
        <a class="nav-link" href="/login"><b>Log_in</b></a>
        <%}%>

        <% if(currUser){ %>
        <a class="nav-link" href="/logout">LOG_OUT</a>
        <%}%>
      </div>

    </div>
  </div>


</nav>